In [5]:
import time
import json
import random
import warnings
import numpy as np
import pandas as pd
warnings.filterwarnings("ignore")
seed = 42
random.seed(seed)
np.random.seed(seed)

In [6]:
# def load_excel_to_dataframe(file_path):
#     """
#     Reads an Excel file into a Pandas DataFrame and measures the loading time.
    
#     Args:
#         file_path (str): The path to the Excel file.

#     Returns:
#         pd.DataFrame: The loaded DataFrame.
#         float: The loading time in seconds.
#     """
#     start_time = time.time()
#     df = pd.read_excel(file_path)
#     end_time = time.time()
#     loading_time = end_time - start_time
#     return df, loading_time

In [9]:
loaded_df = pd.read_csv("students_data.csv")
loaded_df.head(5)

,STUDIENR,KURSTXT,BEDOMMELSE,ECTS,BEDOMMELSESDATO
0,STNR000001,02402 Introduktion til statistik,4.0,5.0,2018-12-19
1,STNR000001,28213 Polymerteknologi,7.0,5.0,2019-12-30
2,STNR000001,41632 Robust design af produkter og mekanismer,7.0,5.0,2019-06-07
3,STNR000001,41656 Materialer i avancerede anvendelser og p...,10.0,10.0,2020-05-27
4,STNR000001,41661 Metallære,10.0,5.0,2018-12-18

In [11]:
# Transform the dataset into an event log format
event_log = loaded_df.rename(columns={
    'STUDIENR': 'Case ID',
    'KURSTXT': 'Activity',
    'BEDOMMELSESDATO': 'Timestamp',
    'BEDOMMELSE': 'Grade',
    'ECTS': 'ECTS'
})

 

# Convert Timestamp to datetime format and sort
event_log['Timestamp'] = pd.to_datetime(event_log['Timestamp'])
event_log = event_log.sort_values(by=['Case ID', 'Timestamp'])
# Display the first few rows of the transformed event log
event_log.head()

       Case ID                          Activity  Grade  ECTS  Timestamp
16  STNR000001        41030 Design af mekatronik   10.0  10.0 2017-07-07
11  STNR000001        42062 Arenaer og koncepter   10.0   5.0 2018-05-31
17  STNR000001   Institut for Mekanisk Teknologi   12.0  15.0 2018-06-11
4   STNR000001                   41661 Metallære   10.0   5.0 2018-12-18
0   STNR000001  02402 Introduktion til statistik    4.0   5.0 2018-12-19

In [14]:
df_sorted = event_log.sort_values(by='Timestamp')
df_sorted.head()

,Case ID,Activity,Grade,ECTS,Timestamp
156724,STNR013362,30750 Earth system science,12.0,5.0,2017-07-01
68353,STNR005178,30750 Earth system science,7.0,5.0,2017-07-01
114075,STNR010243,62794 Videregående matematik for maskindiplomi...,7.0,5.0,2017-07-01
190251,STNR017569,30750 Earth system science,12.0,5.0,2017-07-01
243396,STNR021573,30750 Earth system science,-3.0,5.0,2017-07-01

In [15]:
event_log.to_csv('students_data_n new_date.csv', index=False)